:root {
    /* font styles */
    --font-family: Arial;
    --font-size: 14px;
    --bond-font-weight: 600;
    --clr-text: var(--clr-black);
    --clr-heading: var(--clr-text);
    --heading1-size: 50px;
    --heading2-size: 40px;
    --heading3-size: 20px;
    --heading-font: var(--font-family); /* шрифт заголовку */

    /* colors */
    --clr-base: rgb(165, 60, 60);
    --clr-transparent-base: rgba(165, 60, 60, 0.7);
    --clr-dark-base: rgb(135, 30, 30);
    --clr-cta: rgb(200,200,200);
    --clr-cta-light: rgb(210,210,210);
    --clr-cta-dark: rgb(185,185,185);
    --clr-cta-ultradark: rgb(130,130,130);
    --clr-grey: rgb(110,110,110);
    --clr-black: rgb(40,40,40);
    --clr-black-transparent: rgba(40,40,40, 0.8);
    --clr-white: rgb(250,250,250);
    --clr-bg: var(--clr-white);
    --clr-bg-second: rgb(240,240,240);
    --clr-positive: rgb(10, 180, 10);
    --clr-positive-dark: rgb(10, 150, 10);
    --clr-negative: rgb(180, 10, 10);

    /* indents */
    --indent-tiny: 4px;
    --indent-small: 8px;
    --indent-medium: 20px;
    --indent-large: 50px;
    --indent-huge: 30%;
    --indent-section: var(--indent-large); /* відступ між секціями */
    --indent-text: var(--indent-small); /* відступ для тексту */
    --indent-heading: var(--indent-medium); /* відступ для заголовків */
    --indent-on-sides: 0 15%; /* відступ контенту (.content) */

    /* header */
    --nav-background: linear-gradient(0.5turn, var(--clr-dark-base), var(--clr-base));
    --footer-background: linear-gradient(0.5turn, var(--clr-dark-base), rgb(152, 43, 43));

    /* animations */
    --animation: 0.2s ease;
    --an-standart: all var(--animation);
    --an-scale: transform var(--animation);

    /* buttons */
    --btn-width: 160px;
    --btn-width-hover: 200px;
    --btn-padding: 10px 15px 10px 15px;
    --btn-standart-bg: linear-gradient(0.5turn, var(--clr-cta), var(--clr-cta-dark));
    --btn-standart-bg-hover: linear-gradient(0.5turn, var(--clr-cta-dark), var(--clr-cta));
    --btn-standart-bg-focus: var(--clr-cta-dark);
    --btn-standart-clr: var(--clr-black);
    --btn-standart-clr-hover: var(--clr-base);
    --btn-border-radius: 5px;
    --btn-border: none;
    --btn-animation: all 0.5s ease;
    --btn-width-long: 200px;
    --btn-width-hover-long: 240px;
}

