#popular-fandoms-list .list {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--indent-large);
}

#popular-fandoms-list h2 {
    text-align: center;
}

#popular-fandoms-list .fandom {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    width: 200px;
    height: 300px;
    border-radius: 5px;
}

#popular-fandoms-list .fandom .info {
    position: absolute;
    background-color: var(--clr-black-transparent);
    width: 80%;
    height: 70px;
    padding: var(--indent-small);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    color: white;
    text-align: center;
}

#popular-fandoms-list .fandom .info div {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#popular-fandoms-list .fandom .info .name {
    font-weight: var(--bond-font-weight);
    margin-bottom: 0;
    font-size: calc(var(--font-size)*1.2);
}

/* 1550px */
@media (max-width: 1550px) {
    #popular-fandoms-list .fandom {
        width: 133px;
        height: 200px;
    }
    #popular-fandoms-list .fandom .info .name {
        font-size: calc(var(--font-size)*1.1);
    }
}

/* 1050px */
@media (max-width: 1050px) {
    #popular-fandoms-list .fandom {
        width: 100px;
        height: 150px;
    }
    #popular-fandoms-list .fandom .info .name {
        font-size: var(--font-size);
    }
    #popular-fandoms-list .fandom .info p {
        margin: 0;
    }
}
