footer {
    background: var(--footer-background);
    color: var(--clr-white);
    padding: 1% 5%;
}

footer p {
    text-align: center;
    font-style: italic;
}

footer a {
    color: var(--clr-white);
    /*text-decoration: none;*/
}

footer h4, footer a {
    margin-bottom: 5px;
}

.links {
    display: flex;
    justify-content: space-around;
    margin-bottom: var(--indent-medium);
}

.links div {
    display: flex;
    flex-direction: column;
}

/* Телефон (768px) */
@media (max-width: 768px) {
    footer {
        padding-top: var(--indent-small);
    }
    footer p, footer a {
        font-size: 10px;
    }
}
