/* header */

header {
    /*box-shadow: 0 1px 10px var(--clr-black-transparent);*/
    background: var(--clr-white);
}

header .logo {
    width: auto;
    height: 50px;
}

/*header p.logo span {*/
/*    font-size: 40px;*/
/*    font-weight: bolder;*/
/*}*/

header div, header nav {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

header h1 {
    color: var(--clr-base);
    margin: 0;
}

header a, header p:not(.logo) {
    text-transform: capitalize;
    padding: 6px;
    text-decoration: none;
    margin: 0;
    cursor: pointer;
}

header a:hover:not(nav a:hover),
header p:hover:not(nav a:hover):not(.logo) {
    background-color: var(--clr-cta);
}

/* greeting */
header #greeting-line {
    justify-content: space-between;
    padding: var(--indent-small);
}

header #greeting-line a,
header #greeting-line p:not(.logo) {
    color: var(--clr-black);
}

header #greeting-line a:hover,
header #greeting-line p:hover:not(.logo) {
    color: var(--clr-base);
}

/* navigation */
header nav ul {
    list-style: none;
}
header nav ul li {
    position: relative;
    float: left;
    /*margin-right: var(--indent-medium);*/
    margin-top: 8px;
}

header nav {
    background: var(--nav-background);
    color: var(--clr-white);
    height: 30px;
}

nav ul#navigation {
    margin-left: var(--indent-medium);
}

header nav ul li a {
    display: block;
}

nav ul li ul {
    position: absolute;
    left: 0;
    width: 180px;
    background: var(--clr-cta);
    display: none;
}

nav ul li:hover > ul {
    display: initial;
}

/* залишає parent li під ефектом, коли мишка наведена на вспливаюче меню */
nav ul#navigation li:hover {
    color: var(--clr-black);
    background: var(--clr-cta-dark);
}

nav ul li ul li {
    width: 100%;
    border-bottom: 1px solid var(--clr-cta-dark);
    margin: 0;
    padding: 5px 0;
}

nav ul li ul li a {
    color: var(--clr-black);
}

/*nav ul li ul li a:hover {*/
/*    background: var(--clr-cta-light);*/
/*}*/
