body {
    background-color: var(--clr-bg);
}

#page {
    display: flex;
}

h1 {
    text-align: left;
    font-size: calc(var(--heading1-size)/1.5);
    border-bottom: 2px solid var(--clr-base);
}

h2 {
    text-align: left;
    font-size: calc(var(--heading2-size)/1.5);
}

h3 {
    margin-bottom: var(--indent-small);
}

.content {
    min-height: 85vh;
    width: 85%;
}

#page nav {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--clr-cta);
}

#page nav div {
    display: flex;
    flex-direction: column;
}

#page nav a {
    text-decoration: none;
    margin: 0;
    padding: var(--indent-medium) var(--indent-small);
    /*width: 100%;*/
    color: white;
    background-color: var(--clr-cta-ultradark);
    border-bottom: 2px solid var(--clr-grey);
}

#page nav a:hover {
    color: var(--clr-base);
    background-color: var(--clr-cta);
}

.name-avatar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: var(--indent-small);
}

.fanfic-profile-container:not(.button a) {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 4px solid var(--clr-cta);
    margin-bottom: var(--indent-small);
    padding: var(--indent-tiny) 0;
}

.fanfic-profile-container a:not(.button a),
.fanfic-profile-container p:not(.button a) {
    margin: 0;
    width: 20%;
    text-align: center;
}

.fanfic-profile-container a:not(.button a) {
    font-size: var(--heading3-size);
    color: var(--clr-black);
    text-decoration: underline dotted 1px;
}

.fanfic-profile-container a:not(.button a):hover {
    color: var(--clr-base);
}

.fanfic-profile-container .button a:hover {
    justify-content: unset;
}

/* Телефон (768px) */
@media (max-width: 768px) {
    #page {
        display: block;
    }

    .content {
        width: auto;
    }

    #page nav {
        width: auto;
    }
}
