body {
    background-color: var(--clr-bg);
}

#page {
    display: flex;
}

h1 {
    text-align: left;
    font-size: calc(var(--heading1-size)/1.5);
    text-decoration: underline var(--clr-base);
}

h2 {
    text-align: left;
    font-size: calc(var(--heading2-size)/1.5);
}

.content {
    min-height: 85vh;
    width: 85%;
}

#page nav {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--clr-cta);
}

#page nav div {
    display: flex;
    flex-direction: column;
}

#page nav a {
    text-decoration: none;
    margin: 0;
    padding: var(--indent-medium) var(--indent-small);
    /*width: 100%;*/
    color: white;
    background-color: var(--clr-cta-ultradark);
    border-bottom: 2px solid var(--clr-grey);
}

#page nav a:hover {
    color: var(--clr-base);
    background-color: var(--clr-cta);
}

.name-avatar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: var(--indent-small);
}
