.mobile {
    display: none;
}

/* Телефон (768px) */
@media (max-width: 768px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none!important;
    }
}


body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--clr-bg-second);
    color: var(--clr-text);
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

/* Телефон (768px) */
@media (max-width: 768px) {
    * {
        line-height: 1.2;
    }
}

.content {
    margin: var(--indent-on-sides);
    padding: var(--indent-medium);
    background-color: var(--clr-bg);
    min-height: 100vh;
}

/* Телефон (768px) */
@media (max-width: 768px) {
    .content {
        padding: var(--indent-small);
    }
}

.full-width.content {
    margin: 0;
}

h1, h2, h3 {
    margin: 0 0 var(--indent-heading) 0;
}

h1 {
    font-size: var(--heading1-size);
    text-align: center;
}

h1 span {
    font-size: calc(var(--heading1-size) * 1.4);
    /*padding-bottom: var(--indent-tiny);*/
    border-bottom: 4px solid var(--clr-base);
}

h2 {
    font-size: var(--heading2-size);
}

h3 {
    font-size: var(--heading3-size);
}

p, a, li, b, i, span, input, select {
    margin: 0 0 var(--indent-text) 0;
    font-size: var(--font-size);
}

textarea {
    resize: none;
    padding: var(--indent-small);
    font-size: var(--font-size);
}

table {
    border-collapse: collapse!important;
    table-layout: fixed;
    border: 2px solid var(--clr-dark-base);
}

caption {
    font-size: calc(var(--font-size)/1.5);
    caption-side: bottom;
}

thead,
tfoot {
    background-color: var(--clr-base);
    color: var(--clr-white);
}

td:last-of-type {
    text-align: center;
}

td, th {
    padding: var(--indent-small);
    word-wrap: break-word;
}

/* Телефон (768px) */
@media (max-width: 768px) {
    td, th {
        padding: var(--indent-tiny);
        font-size: 12px;
    }
}

.fandom-link {
    color: var(--clr-black);
    text-decoration: none;
    border-bottom: 1px dotted var(--clr-cta-ultradark);
    padding: 2px 0 1px 0;
}

.fandom-link:hover {
    color: var(--clr-white);
    background-color: var(--clr-base);
    border-bottom: 1px dotted var(--clr-white);
}

.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Стандартний синтаксис */
}

.clickable {
    /* клікабельний курсор */
    cursor: pointer;
}

/* збільшення при наведенні */
.enlargement {
    transition: var(--an-scale);
}
.enlargement:hover {
    transform: scale(1.05);
}

/* контейнер, в якому багато контейнерів, що повинні йти один за одним */
.containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section {
    margin-bottom: var(--indent-large);
}

.no-display {
    display: none!important;
}

/* профілі користувачів */
.avatar {
    width: 64px;
    height: 64px;
    border: 1px dashed var(--clr-black);
    object-fit: cover;
    object-position: center;
}

.avatar.large {
    width: 128px;
    height: 128px;
}

/* стилі помилок */
p.error,
p.error-password {
    color: var(--clr-base);
    font-weight: var(--bond-font-weight);
}

p.alert-success {
    color: var(--clr-positive-dark);
    font-weight: var(--bond-font-weight);
    border-bottom: 2px solid var(--clr-positive);
}

.notify {
    font-size: calc(var(--font-size)/1.3);
}

.grow:before {
    content: '↑ ';
    color: var(--clr-positive);
}

.fall:after {
    content: ' ↓';
    color: var(--clr-negative);
}

.huge-link {
    font-size: var(--heading3-size);
    color: var(--clr-grey);
    text-decoration: underline dotted 1px;
}

.huge-link:hover {
    color: var(--clr-base);
}
