body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--clr-bg-second);
    color: var(--clr-text);
}

* {
    margin: 0;
    padding: 0;
}

.content {
    margin: var(--indent-on-sides);
    padding: var(--indent-medium);
    background-color: var(--clr-bg);
}

h1, h2, h3 {
    margin: 0 0 var(--indent-heading) 0;
}

h1 {
    font-size: var(--heading1-size);
    text-align: center;
}

h1 span {
    font-size: calc(var(--heading1-size) * 1.4);
    /*padding-bottom: var(--indent-tiny);*/
    border-bottom: 4px solid var(--clr-base);
}

h2 {
    font-size: var(--heading2-size);
}

h3 {
    font-size: var(--heading3-size);
}

p, a, li, b, i, span {
    margin: 0 0 var(--indent-text) 0;
    font-size: var(--font-size);
}

.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Стандартний синтаксис */
}

.clickable {
    /* клікабельний курсор */
    cursor: pointer;
}

/* збільшення при наведенні */
.enlargement {
    transition: var(--an-scale);
}
.enlargement:hover {
    transform: scale(1.05);
}

/* контейнер, в якому багато контейнерів, що повинні йти один за одним */
.containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
