input, textarea {
    margin-bottom: var(--indent-small)!important;
    font-size: 18px;
}

textarea {
    height: 500px;
}

label:not(label[for="is_draft"]) {
    font-weight: var(--bond-font-weight);
}

#notes, #notify {
    width: 50%;
    height: 150px;
}


