#chapter {
    border-top: 2px solid var(--clr-black);
    padding-top: var(--indent-large);
}

#chapter form {
    border-top: 2px solid var(--clr-black);
    padding-top: var(--indent-medium);
    margin-top: var(--indent-medium);
}

#chapter p {
    font-size: 17px;
    word-break: break-word;
    white-space: pre-line;
    line-height: 1.7;
    margin-bottom: var(--indent-medium);
}

.chapter-notify,
.chapter-notes {
    background-color: var(--clr-bg-second);
    padding: var(--indent-small);
    margin: var(--indent-medium);
}
