.fandom-categories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fandom-categories-list .fandom-category-container {
    width: 40%;
    margin-bottom: var(--indent-medium);
    border-bottom: 2px solid var(--clr-cta);
    position: relative;
}

.fandom-categories-list .fandom-category-container h2 {
    font-size: calc(var(--heading2-size)/2);
}

/* Телефон (768px) */
@media (max-width: 768px) {
    .fandom-categories-list .fandom-category-container {
        width: 48%;
    }

    .fandom-categories-list .fandom-category-container a {
        font-size: 12px;
    }
}
